@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

/* reset layout */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* link-style */
a {
  color: inherit;
  text-decoration: none;
}

/* custom class */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.reset-mp {
  margin: 0;
  padding: 0;
}

.reset-box {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* brunch text img */
.brunch-title {
  background: url(../images/logo/brunch-txt-img.png) no-repeat;
  background-size: 380px 600px;
}

/* brunch-keyword */

#brunch-keyword {
  text-align: center;
  overflow-x: auto;
}

#brunch-keyword h3 {
  width: 266px;
  height: 13px;
  background-position: -101px -300px;
  margin: 152px auto 17px;
}


#brunch-keyword p {
  width: 149px;
  height: 11px;
  background-position: -175px 0px;
  margin: 0 auto;
}

.keyword-list {
  display: flex;
  flex-flow: wrap;
  width: 960px;
  margin: 49px auto 150px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.keyword-item {
  width: 119px;
  height: 119px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}

.keyword-item:hover {
  border: 1px solid #00C3BD;
  color: #00C3BD;
  margin-top: -1px;
  margin-left: -1px;
}

.keyword-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.keyword-title {
  font-size: 0.9em;
  font-weight: lighter;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* brunch-writers */
#brunch-writers {
  background-color: #FAFAFA;
  padding: 100px 0;
}

#brunch-writers h3 {
  width: 258px;
  height: 13px;
  background-position: 0 -175px;
  margin: 0 auto 17px;
}


#brunch-writers>p {
  width: 84px;
  height: 11px;
  background-position: -270px -70px;
  margin: 0 auto 38px;
}

.writers-favorite-list {
  text-align: center;
  margin-bottom: 35px;
}

.writers-favorite-list button {
  font-weight: lighter;
  font-size: 0.9em;
  color: #959595;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 7px 18px;
  border-radius: 20px;
  margin: 0 2px;
}

.writers-favorite-list button:focus {
  outline: transparent;
}

.writers-favorite-list button[class*="active"] {
  color: #00C3BD;
  border: 1px solid #00C3BD;
}

.writers-list {
  display: flex;
  flex-flow: wrap;
  width: 960px;
  margin: 0 auto;
  justify-content: space-around;
}

.writers-list li {
  width: 310px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 60px 30px;
}

.writers-list li .writer-link-wrap {
  display: block;
  width: 100%;
  height: 225px;
}

.writer-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

.writer-name {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  display: block;
  padding-top: 10px;
}

.writer-job {
  color: #666;
  font-weight: lighter;
  font-size: 0.7em;
  margin-bottom: 20px;
}

.writer-profile {
  color: #959595;
  font-weight: lighter;
  font-size: 0.7em;
  line-height: 20px;
}

.writer-favorite,
.writer-favorite-more {
  font-size: 0.8em;
  color: #959595;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
}

.writer-favorite-more {
  font-weight: bold;
  letter-spacing: -1px;
}


/* writer-application-banner */

.writer-application-banner {
  width: 960px;
  display: block;
  margin: 97px auto 0;
}

.writer-application-banner img {
  width: 100%;
}