@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* reset layout */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

/* link-style */
a {
  color: inherit;
  text-decoration: none;
}

/* custom class */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.reset-mp {
  margin: 0;
  padding: 0;
}

.reset-box {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

* {
  font-family: "Nanum Myeongjo", sans-serif;
}

/* reset */
/* body, */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans DemiLight", "Malgun Gothic";
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 0px;
}

body {
  background: #fff;
  color: #333;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
}

a:active,
a:hover {
  text-decoration: none;
}

a:active {
  background-color: transparent;
}

.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.hide {
  display: none;
}

.text-hide {
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ico-brunch {
  display: inline-block;
  overflow: hidden;
  background-image: url(../images/banner/ico_brunch_v9_20190819_rtn.png);
  background-size: 400px 300px;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
}

#head {
  height: 60px;
}

.wrap-brunch {
  overflow: hidden;
}

/* banner */

.banner {
  overflow: hidden;
  position: relative;
  margin-top: 0px;
}

.banner .list-banner {
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.banner .item-banner {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.item-banner .item1 {
  z-index: 2;
}

.item-banner .item2 {
  z-index: 1;
}

.banner .link-banner {
  width: 100%;
  display: block;
  text-align: center;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner .item-banner.hide {
  transform: translateY(-60px);
}

.banner .item-banner.init {
  transform: translateY(60px);
  z-index: 1;
  visibility: hidden;
}

.banner .link-bnr-l {
  height: 480px;
  background-size: cover;
}

.banner .link-bnr-l .txt-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -480px;
  width: 960px;
}

.banner .link-bnr-s {
  position: absolute;
  bottom: 0;
  height: 60px;
}

.banner .link-bnr-s .txt-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -480px;
  width: 960px;
}

.banner .paging {
  display: table;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 5;
  width: 12px;
  height: 60px;
  margin: 0 0 0 470px;
}

.banner .paging .inner-paging {
  display: table-cell;
  vertical-align: middle;
}

.banner .paging .link-page {
  float: left;
  width: 24px;
  height: 4px;
  padding: 4px;
}

.paging .ico-brunch {
  overflow: hidden;
  width: 4px;
  height: 4px;
  text-indent: -9999px;
  background-position: -40px -112px;
}

.paging span .ico-brunch {
  background-position: -40px -100px;
}

.banner .paging-type1 {
  width: 12px;
  height: 120px;
  bottom: 180px;
}

.banner .paging-type1 .link-page {
  height: 24px;
}

.banner .paging-type1 span.link-page {
  height: 47px;
}

.banner .paging-type1 .ico-brunch {
  width: 4px;
  height: 24px;
  background-position: -60px -150px;
}

.banner .paging-type1 span .link-page {
  height: 47px;
}

.banner .paging-type1 span .ico-brunch {
  height: 47px;
  background-position: -60px -100px;
}

.banner .btn-close {
  background-position: -282px 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 4;
  margin: 0 0 -30px 570px;
}

/* sidemenu */

#sidemenu div,
#sidemenu dl,
#sidemenu dt,
#sidemenu dd,
#sidemenu ul,
#sidemenu ol,
#sidemenu li,
#sidemenu h1,
#sidemenu h2,
#sidemenu h3,
#sidemenu h4,
#sidemenu h5,
#sidemenu h6,
#sidemenu pre,
#sidemenu code,
#sidemenu form,
#sidemenu fieldset,
#sidemenu legend,
#sidemenu textarea,
#sidemenu p,
#sidemenu blockquote,
#sidemenu th,
#sidemenu td,
#sidemenu input,
#sidemenu select,
#sidemenu textarea,
#sidemenu button {
  font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
}

#sidemenu {
  background-color: #fff;
  border-right: 1px solid #ddd;
  width: 260px;
  margin-left: -261px;
  transition: all 0.3s;
  transition-timing-function: ease-in;
  position: fixed;
  z-index: 10000;
  height: 100%;
  top: 0;
  text-align: center;
}

#sidemenu.open {
  margin-left: 0;
}

#sidemenu header {
  overflow: hidden;
}

#sidemenu main {
  clear: both;
}

#sidemenu #btn-close-sidemenu {
  display: none;
  position: absolute;
  right: 20px;
  top: 18px;
}

#sidemenu .ico-close {
  display: block;
  width: 19px;
  height: 19px;
  background-position: -40px 0;
}

#sidemenu .side-service-menu {
  border-top: 1px solid #ddd;
  padding-top: 28px;
  height: 427px;
  overflow-y: auto;
}

#sidemenu .side-service-menu.logout {
  padding-left: 2px;
}

#sidemenu .side-service-menu li {
  height: 13px;
  line-height: 13px;
  padding: 12.5px 0;
  width: 240px;
  margin: 0 auto;
}

#sidemenu .side-service-menu.logout li {
  height: 13px;
  line-height: 13px;
  padding: 12.5px 0;
}

#sidemenu .side-service-menu li a {
  height: 13px;
  line-height: 14px;
  display: block;
  position: relative;
}

#sidemenu .side-service-menu li a:hover,
#sidemenu .side-service-menu li.now-page a {
  color: #00c3bd;
}

#sidemenu .side-service-menu li a:hover span,
#sidemenu .side-service-menu li.now-page a span {
  display: block;
  border-bottom: 1px solid #00c3bd;
  position: absolute;
  top: 6px;
}

#sidemenu .side-service-menu li a:hover span.bar-left,
#sidemenu .side-service-menu li.now-page a span.bar-left {
  left: 50px;
}

#sidemenu .side-service-menu li a:hover span.bar-right,
#sidemenu .side-service-menu li.now-page a span.bar-right {
  right: 50px;
}

#sidemenu .side-service-menu li a.menu-word5 span {
  width: 29px;
}

#sidemenu .side-service-menu li a.menu-word4 span {
  width: 35px;
}

#sidemenu .side-service-menu li.hr {
  background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_sidebar.png) center no-repeat;
  height: 15px;
  margin: 30px auto 32px;
  padding: 0;
  display: block;
  width: 140px;
  background-position: -52px -5px;
}

#sidemenu .side-setting {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 40px 0 30px;
}

#sidemenu .side-setting button {
  width: 80px;
  height: 32px;
  border: 1px solid #bbb;
  border-radius: 16px;
  color: #959595;
  margin: 0 2px;
  font-size: 13px;
}

#sidemenu .side-profile {
  overflow: hidden;
  position: relative;
  height: 239px;
  background-color: #f6f6f6;
}

#sidemenu .side-profile.logout {
  height: 239px;
  background: #f8f8f8;
}

#sidemenu .side-profile.logout .logo-service {
  background-image: url(//t1.daumcdn.net/brunch/static/img/help/pc/logo-service2_v1.png);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin: 40px auto 9px;
  background-position: -1px -26px;
}

#sidemenu .side-profile.logout .slogan {
  font-family: Georgia;
  font-size: 13px;
  font-style: italic;
  line-height: 1.35;
  text-align: center;
  color: #666666;
  margin-bottom: 5px;
}

#sidemenu .side-profile.logout .slogan-writer {
  font-family: Georgia;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 0.3px;
  text-align: center;
  color: #959595;
}

#sidemenu .btn-request {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #00c3bd;
  font-size: 13px;
  color: #00c3bd;
  margin-top: 13px;
  margin-left: 4px;
  background-color: #fff;
}

#sidemenu .logout .btn-request {
  margin-left: 0;
  vertical-align: baseline;
  width: 120px;
}

/* Button */
.btn {
  padding: 8px 16px;
  color: #909090;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 100px;
}

.btn-default {
  color: #00c3bd;
  background-color: #fff;
  border: 2px solid #00c3bd;
  opacity: 0.9;
  filter: alpha(opacity: 90);
}

.btn-default .ico-brunch {
  width: 17px;
  height: 17px;
  margin: 7px 0 0 7px;
  background-position: -60px 0;
}

.service-header {
  position: static;
  /* float: left; */
  height: 40px;
}

.service-header h1 .logo-service {
  display: block;
  background: url(../images/banner/ico_view_cover.v4.png) no-repeat;
  width: 72px;
  height: 22px;
  margin-top: -1px;
}

.service-header .wrap-inner {
  margin: 30px 30px 0;
}

.service-header .btn-request {
  width: 64px;
  height: 28px;
  margin-top: -5px;
  color: #666;
  border: 1px solid #959595;
  border-radius: 16px;
  line-height: 28px;
  font-size: 12px;
  font-family: "Noto Sans Light", sans-serif;
  text-align: center;
  text-decoration: none;
}

.service-header.top .btn-menu {
  background-position: 0 0;
  border-radius: 0;
}

.service-header .wrap-btn-search .btn-search {
  margin: 0 0 0 16px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -30px 0px;
  margin-top: 0px;
  margin-right: 0;
}

.service-header .img-ico {
  background: url(../images/banner/ico_view_cover.v4.png) no-repeat;
}

.service-header h1 .logo-service,
#sidemenu .side-profile.logout .logo-service {
  background-image: url(../images/banner/logo_service2_v1.png);
  background-size: 200px 80px;
}

.service-header .btn-menu {
  width: 27px;
  height: 20px;
  background-position: 0 0;
  margin-right: 11px;
}

#sidemenu .side-setting.find-user {
  margin-bottom: 37px;
}

.side-setting .user {
  font-size: 13px;
  color: #959595;
  border-bottom: 1px solid #bbb;
}

.active {
  left: 0px !important;
}